/*app*/
h1 {
    text-transform: uppercase;
    text-align: center;
    color: #48bf72;
}
.user-icon {
    background-color: #3c4854;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 10px;
}
.user-name {
    padding-top: 28px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: -5px;
    margin-bottom: -5px;
    border: 2px solid #3c4854;
    color: #d8d8d8;
    background-color: #f1f1f1;
    width: 550px;
}
.mail-icon {
    background-color: #3c4854;
    margin-left: 20px;
    margin-top: 20px;
    padding: 13px 13px;
}
.user-email {
    padding-top: 28px;
    padding-bottom: -15px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: -4px;
    border: 2px solid #3c4854;
    color: #d8d8d8;
    background-color: #f1f1f1;
    width: 550px;
}
.message-icon {
    background-color: #3c4854;
    margin-left: 50px;
    margin-top: 40px;
    padding-bottom: 10%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.user-message {
    padding-top: 29px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: -5px;
    margin-bottom: -5px;
    border: 2px solid #3c4854;
    color: #d8d8d8;
    background-color: #f1f1f1;
    text-align: start;
    width: 1195px;
}
button {
    display: block;
    background-color: #48bf72;
    margin-left: 50px;
    margin-top: 40px;
    padding-right: 590px;
    color: white;
    padding-bottom: 15px;
    padding-left: 600px;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: ;
}
/*table*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    text-align: center;
}
.green {
    background: green;
    color: white;
}
.end {
    color: blue;
    border: 5px double black;
}
.last-column {
    text-align: left;
}
.second-column {
    width: 25%;
}
.year {
    width: 10%;
}